body{
    margin: 0;
}
#container{
    width: 80%;
    margin: 5% 10%;
}
div{
    transition: all 2s ease;
}
.rotate {
    transform: rotateY(180deg);
}
#modal {
    z-index: 50;
    position: static;
    margin-top: 10%;
    background-color: green;
    padding: 20px;

}
button, input[type=button] {
    height: 40px;
    width: 30%;
    border: none;
    background: whitesmoke;
}
article{
    text-align: center;
    display: inline-block;
    width:100px;
    height:100px;
    border: 1px solid white;
}
.x{
    color: white;
}
p{
    font-weight: bold;
    font-family: sans-serif;
    margin: 40%;
}
h1{
    font-size: 100px;
    font-family: sans-serif;
    color: white;
    display: inline-block;
    margin-left: auto;
}
footer, footer > p{
    background-color: green;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin: 0;
    height: 50px;
    line-height: 50px;
}
#timer{
    float: right;
}
